{% extends 'core/base.html' %}
{% load static %}
{% block title %}Eliminar página{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form method="post">{% csrf_token %}
                <p>Está seguro que desea eliminar <b>"{{ object }}"</b>?</p>
                <input type="submit" class="btn btn-primary btn-block" value="Sí, borrarlo">
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}